/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(24, 5, 5, 0.87);
  background-color: #f1eeee;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

 
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

 */

nav{
  background-color: black;
  padding:16px 32px;
  position:relative;
  width:100%;
}
nav a{
  color:white;
  margin-right:16px;
  text-decoration: none;
}
nav a.active{
  /* text-decoration: none; */
  font-weight:bold;
  
}
.nav-right{
  text-align:right;
}
.footer {
position:fixed;
bottom:0;
text-align:center;
width:100%;
background-color:black;
color:white;
}
.register{
  margin-left:30%;
}
.login{
  margin-left:30%;
  margin-top:100px;
}
.inputText{
  display:block;
  margin:10px;
  padding:7px;
  width:300px;
  border:1px dotted black;

}
.myButton{
  margin:25px;
  padding:10px;
  width:150px;
  background-color:black;
  color:white;
  border:2px solid skyblue;
  cursor:pointer;
}
.logo{
  width:30px; 
  float:left;
  border-radius:50%;
  margin-top:3px;
  margin-left:10px;
  margin-right:10px;
}
.searchbox{
  width:400px;
  margin:20px;
  height:40px;
  border:1px solid black;
  padding-left:200px;
}
.list-ul-li{
  display:inline-block;
  width:150px;
  border:1px solid balck;
  padding:5px;
}
.list-ul{
  margin:0;
}
body
{
  background-repeat:repeat;
  background-size:cover;
 /* background-image: url('./images/bg.jpg'); */
}

/* for signup */


.container{
  width: 420px;
  background: transparent;
  border: 2px solid rgba(255,255,255,.2);
  backdrop-filter: blur(30px);
  box-shadow: 0 0 10px rgba(0,0,0,.2);    
  color: #fff;
  border-radius: 10px;
  padding: 30px 40px;
  align-items: center;
  margin-top: 5%;

}


.signup-container h1{
  font-size: 40px;
  text-align: center;
  color:black;
  font-weight:bold;
}
.signup-container .input-container{
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
}

.input-container input{
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255,255,255,.2);
  border-radius: 40px;
  font-size: 16px;
  color:black;
  font-weight:bold;

  padding: 20px 45px 20px 20px;
}
.input-container input ::placeholder{
  color: #fff;
}
.input-container .icon{
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
}
form .remember{
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  margin: -15px 0 15px;
}
.remember label input{
  accent-color: #fff;
  margin-right: 4px;
}
.remember a{
  color: #fff;
  text-decoration: none;
}
.remember a:hover{
  text-decoration: underline;
}
.form button{
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  border-radius: 40px;
  font-size: 16px;
  color: #333;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(0,0,0,.1);    
  font-weight: 700;
}    
.form .register{
  text-align: center;
  margin: 20px 0 15px;
  font-size: 15px;
}
.register p a{
  color:#fff;
  text-decoration: none;
  font-weight: 600;
}
.register p a:hover{
  text-decoration: underline;
}




/* for team */
.container-team {
  padding: 20px;
}

.card {
  width: 200px; 
  height: 200px; 
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  transition: box-shadow 0.3s ease;
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.card-body {
  padding: 20px;
}

.card-img-top {
  width: 100%;
  height: 100%;
  max-width: 100%; 
  max-height: 150px; 
}

