.profile-main {
  background-color: #8bbffa;
    padding: 10px;
    margin: 20px auto;
    border: 1px solid #ddd;
    border-radius: 5px;
    max-width: 600px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.profile-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-content {
  display: flex;
  align-items: flex-start;
}

.profile-image img {
  width: 150px; 
  height: auto;
  margin-right: 20px; 
}

.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.profile-info h2 {
  margin: 0;
  margin-bottom: 10px;
}

.profile-info p {
  margin: 5px 0;
}

.login-message {
  color: red;
  font-weight: bold;
}
